<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="simpleBean" class="com.yundepot.bean.SimpleBean">
		<meta key="abc" value="dd"/>
		<meta key="ddfsd" value="sdfsd"/>
    </bean>

	<bean id="student" class="com.yundepot.bean.Student">
		<property name="score" value="100"/>
		<property name="userInfo" ref="userInfo"/>
	</bean>

	<bean id="userInfo" class="com.yundepot.bean.UserInfo">
		<property name="name" value="alairc"/>
	</bean>
</beans>